<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<script src="/static/java.js"> </script>
</head>
<body id="body">
    <img class="logo" src="/static/Untitled-1-01.png">
    <link rel="stylesheet" href="/static/st.css">
    
<div class="box">

    <h1 class="ans" id="ans">ans:</h1>

    <input type="number"  class="input_box" placeholder="num 1" id="input_box">
    <input type="number" class="input_box1" placeholder="num 2" id="input_box1">

    <button onclick="greet()"class="b"> = </button>
    <button onclick="mit()"class="b1"> x </button>
    <button onclick="div()"class="b2"> ÷ </button>
</div>
<button onclick="dit()"class="b3"> delete </button>




</body>
</html>


